@import './color-animation.scss';
@import './text-animation.scss';

html {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px; /* Smaller font size for medium screens */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px; /* Even smaller font size for mobile screens */
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.stretched-text {
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  text-align: center;
}

.stretched-text::after {
  content: '';
  display: inline-block;
  width: 100%;
}
